<html>
<style type="text/css">
body { 
    background: url("/public/imagem.jpg")  no-repeat center center fixed; 
    background-size: 626 414;
    height: auto;    
    margin: 10 auto;
    background-repeat: no-repeat scroll;
    background-position: center top;
    position: relative;
    margin-top: 10;
    margin-right: 10;
    margin-bottom: 10;
    margin-left: 10;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 3;
}
</style>

<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
<head>
    <meta charset="UTF-8">
    <title>DQC - Sistema de Gestão de Itens</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <br>
    <nav class="navbar navbar-light fixed-top p-0 font-weight-bold" style="background-color: #000000;">
      <a class="navbar navbar-light" href="/">Home</a>
      <a class="navbar navbar-light" href="/dqc8">Tela - Dqc8</a>
      <a class="navbar navbar-light" href="/dqc84">Tela - Dqc84</a>
      <a class="navbar navbar-light" href="/dqc841">Tela - Dqc841</a>
    </nav>
</head>
<main>
  <br>
  <div class="text-left pt-0" style="background-color: #c5c5c5;"> # </div>
  </div>
</main>

<body>
  <div class="container">
    <%- body %>
    <br>
       <footer class="page-footer font-weight-light font-weight-bold purple fixed-bottom text-center text-lg-center text-xl-right" > 
        <div class="text-center pt-0" style="background-color: #ffffff;">
          <h5>
            <a href="#" onClick="javascript:window.open('https://github.com/emanueleborges/dump');"><b>Emanuel GitHub</b></a> - <img src="/public/linkedin.svg" class="text-center align-bottom align-text-bottom pt-1" width="2%"></img><a href="#" onClick="javascript:window.open('https://www.linkedin.com/in/emanuel-melo-borges/');"><b>Emanuel Borges</b> </a> - <img src="/public/whatsapp.svg" class="text-center align-bottom align-text-bottom pt-1"  width="2%"></img> <a href="#" onClick="javascript:window.open('https://api.whatsapp.com/send?phone=5592999771376&text=Oi');"><b>+55-92-99977-1376</b> </a> - <img src="/public/mailbox.svg" class="text-center align-bottom align-text-bottom pt-1"  width="2%"></img> <b>emanuel.eborges@gmailcom</b>
            -  Manaus - AM - Brasil - 2015 - 
            <script>
              var today = new Date();
              var date = today.getFullYear();
              document.write(date + '.')
            </script>
          </h5>
      </div>
    </footer>
  </div>
</body>

</html>